#app {
  font-family: 'Questrial', sans-serif;
  letter-spacing: .1rem;
  background-color: #FBFAFA;
  color: #EC7C71;
  margin: 0;
}

.header {
  color: rgba(0, 0, 0, 0);
  position: relative;
}

.headerContainer {
  width: 100%;
}

.headerBackGround {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
  url('./images/RaccoonParty.jpeg');
  position: relative;
  height: 11.5vh;
  background-position: 25% 70%;
}

.headerBackGround::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.homepageSubheading {
  font-size: 5vh;
  margin-left: 5vw;
  margin-top: 2vw;
  margin-bottom: 0;
  color: #EC7C71;
}

.homePageBackground {
  background-image: url('./images/RaccoonParty.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  width: 100vw;
  height: 56vh;
}

.searchBarFlex {
  display: flex;
  justify-content: center;
}


.homePageSearch {
  background: rgba(255, 255, 255, 0.6);
  width: 30vw;
  padding: 15px;
  border-radius: 5px;
  color: black;
  font-size: 2vh;
  margin-top: 30vh;
  margin-right: 2vw;
}

.homePageSearch::placeholder {
  color: rgba(75, 75, 75, 0.6);
  font-size: 2vh;
}

.homePageSearchButton {
  background-color: #EC7C71;
  color: #FBFAFA;
  width: 5vw;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  font-size: 2.5vh;
  margin-top: 30vh;
}

.homePageSelector {
  margin-top: 2vw;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;

}

.dateTimeFlex {
  display: flex;
  margin-left: 3.5vw;
}

.calendar {
  border-radius: 8px;
  font-size: 2vh;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 0.1rem;
  background-color: #EC7C71;
  color:#FBFAFA;
  width: 8vw;
  height: 2.25vw;
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
  cursor: pointer;
}

.calendar:hover {
  background-color: rgba(235, 235, 235, 0.7);
}


.categoriesFlex {
  display: flex;
  flex: row;
  width: 70vw;
  align-items: center;
  justify-content: space-around;
}

.categories {
  width: 90%;
  overflow-x: hidden;
}

.eventContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  font-family: 'Questrial', sans-serif;
  font-size: 2vh;
}

.eventRows {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 2vw;
  margin-bottom: 5vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.homePageEventCard {
  width: 35vh;
  height: 50vh;
  text-align: center;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.homePageEventPhoto {
  width: 32vh;
  height: 48vh;
  text-align: center;
  border-radius: 5%;
  object-fit: cover;
}


.homePageRelative {
  position: relative;
}

.pepe {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
}


.react-timerange-picker {
  display: inline-flex;
  position: relative;
}
.react-timerange-picker,
.react-timerange-picker *,
.react-timerange-picker *:before,
.react-timerange-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
}
.react-timerange-picker--disabled {
  background-color: black;
  color: black;
}
.react-timerange-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  color: #FBFAFA;
  background-color: #EC7C71;
  border-radius: 10px;
  width: 17vw;
  padding-right: 1vw;
  padding-left: 1vw;
  font-size: 2vh;

}
.react-timerange-picker__inputGroup {
  min-width: calc((4px * 3) +  0.54em * 6  +  0.217em * 2);
  height: 100%;
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box;
}
.react-timerange-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}
.react-timerange-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
}
.react-timerange-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
.react-timerange-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px +  0.54em);
}
.react-timerange-picker__inputGroup__amPm {
  font: inherit;
  -moz-appearance: menulist;
}
.react-timerange-picker__button {
  border: 0;
  background: transparent;
}
.react-timerange-picker__button:enabled {
  cursor: pointer;
}