
.homePageBackground {
  background-image: url('./images/Homepage.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  width: 100vw;
  height: 75vh;
}

.homePageSearch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.6);
  width: 30vw;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 2vh;
}

.homePageSearch::placeholder {
  color: rgba(75, 75, 75, 0.6);
  font-size: 2vh;
}